*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.contUS {
  width: 100%;
  height: 100vh; 
  background: #001660;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

form{
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3{
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}

form input, form textarea{
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
}

form button{
  padding: 15px;
  background: #ff5361;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

/* p{
  position: relative;
  top: 100px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

 * {
  box-sizing: border-box;

}

input[type=text],input[type=email],
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

    display: flex;
      align-items: center;
      justify-content: center;
      
}

input[type=submit] {
  background-color: #75ABD1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #1d6ea8;
}

.contact-form {
  border-radius: 5px;
  background-color: #232427;
  padding-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center; */
  /* position: relative;
  top: 50px; */
/* } 

.fname {
  color: white;
}

.lname {
  color: white
}

.sub {
  color: white;
}

.rightsss {
  cursor: context-menu; */
    /* position: relative; */
    /* position: relative;
    left: -200px;
    top: 80px;
}

.end444 {
text-decoration: none;
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer; */
  /* position: relative;
right: -400px;
top: 1px; */
/* }

.endCU {
      padding: 5rem 0;
    margin-top: 100px; */
    /* display: flex;
    align-items: center; */
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #5e666f 150%); */
    /* display: flex;
    justify-content: center; */
    /* flex-direction: column;
    position: relative;
    bottom: -50px;
    
    
} */




