*{
  /* margin: 0;
  padding: 0; */
  font-family: "Gilroy", sans-serif;
  box-sizing: border-box;
}

.contUS {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 100%;
  background: #232427;
}

form{
  padding: 1.8vw 6vw;
  width: 100%;
  max-width: 600px;
  border-radius: 50px;
  background: white;
  display: flex;
  flex-direction: column;
}

form h1{
  color: #232427;
  font-weight: 900;
  margin-bottom: 10px;
}

form textarea, form input{
  outline: none;
  background: white;
  font-size: 20px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

form button{
  outline: none;
  cursor: pointer;
  width: 130px;
  margin: 10px auto 0;
  border-radius: 30px;
  padding: 17px;
  background: #75ABD1;
  color: white;
  font-size: 20px;
  border: 0;

}

form button:hover{
transition: all 0.5s ease;
background: #1d6ea8;
}
